[submodule "external/OpenXR-SDK-Source"]
	path = external/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source
[submodule "external/Vulkan-Hpp"]
	path = external/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt
[submodule "Sandbox/assets/sample-models"]
	path = Sandbox/assets/sample-models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
